* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .outer-container {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
    width: 80%;
    height: 100vh;
    display: flex;
    margin: 3rem auto;
  }
  
  .inner-section {
    border-radius:10px 0px 0px 10px;
   padding: 10px;
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: center;
  }
  
.inner-section p {
    text-align: left;
    padding: 12px;
    font-size: 1rem;
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .inner-section{
    background-color: whitesmoke;
    width: 50%;
     flex-direction: column;
     gap: 20px;
  }


  .Discla{
    font-size: 32px;
    margin-left: 15Px;
  }

  .inner-section2{
    /* background-color: blueviolet; */
    width: 50%;
   
  }

  .inner-section2 img{

    height: 50%;
    margin-top: 25%;
    margin-left: 10%;
  }







  /*  btn */
  .btn{
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    border: none;
   
  }
  .btn1{
    background-color: white;
    color: blue;
    margin-left:20px;
    margin-right: 20px;
  }


  .btn2{
    background-color: blue;
    color: rgb(255, 255, 255);
  }


.btn1:hover{
background-color: black;
color: white;
transition: 0.3s ease-in-out;
}

.btn2:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
  transition: 0.3s ease-in-out;
  }

  
  
  @media (max-width: 1016px) {
    .outer-container {
        display: flex;
      flex-direction: column;

    }

    .btn{
       margin-top: 30px;
        padding: 25px 40px;
        border-radius: 50px;
        font-size: 25px;
        font-weight: bold;
        border: none;
    }
    

    .inner-section{
        align-items: center;
       padding-top: 50px;
    }
    .inner-section p{
        font-size: 2.5rem;
    }

    .inner-section h1{
        font-size: 4rem;
    }
    .inner-section{
        width: 100%;
        justify-content: flex-start;
    }

    .inner-section2 {
        width: 100%;
    }


    
  .inner-section2 img{
    display: none;
/* 
    height: 30%;
    
  margin: 10px 150px; */
  }


  }

  